<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />    
    <title>Job Search</title>
  </head>
  <body>
    <header class="head">
    <h1 class="title">JOB SCRAPPER</h1>
    <h2 class="subtitle">Find your job!</h2>
    </header>
    <main>
    <form action="/report" method="get">
      <input placeholder="Search for a job" required name="word" />
      <button>Search</button>
    </form>
    </main>
  </body>
</html>
